body{
    background: url(space.jpg)
}

/* kode css navigator */

ul{
    list-style: none;
    background: black;
    padding: 0px 0px;
    margin: 0px 0px;
    width: 1280px;
    height: 60px;
}

ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    list-style: none;
    padding: 10px 0px;
    text-align: center;
    transition: 0.3s ease;
}

ul li a.home{
    background-color: rgb(255, 255, 255);
}

ul a:hover{
    background-color: rgb(37, 37, 37);
    transform: scale(1.1);
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    background-color: black;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown{
    display: block;
}

/* code css sidebar */

.footer{
    width: 1280px;
    bottom: 0px;
}

h2{
    background-color: grey;
}

.column{
    float: left;
    padding: 0px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.column.side {
    flex: 1; 
    background-color: rgb(44, 43, 43);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3 ease;
  }
  
.column.middle {
    flex: 2; 
    color: white;
    background-color: rgb(44, 43, 43);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.column.side img, .column.middle img{
    width: 70%; /* Gambar memenuhi lebar kolom */
    object-fit: cover; /* Menghindari gambar terdistorsi */
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  /* Efek hover pada gambar */
  .column.middle img:hover, .column.side img:hover {
    border: 5px solid grey;
    opacity: 0.8; 
  }